/* Import Module Crop Image */

/* Import Module */
/* In Place Edit */
.tran-duc-in-place-editor {
  .tran-duc-in-place-labor {
    label {
      margin: 0;
      font-size: 0.85rem;
      padding: 0.125rem 0.25rem 0.125rem 0 !important;
      font-weight: 600 !important;
    }

    button {
      padding: 0.1rem 0.25rem !important;
    }
  }

  .tran-duc-in-place-value-wrapper {
    min-height: 32px !important;

    .tran-duc-in-place-value {
      font-size: 1rem !important;
      padding: 0 0.25rem; // Rút gọn padding
    }

    .tran-duc-html-text {
      p {
        margin: 0 !important; // Rút gọn margin
      }
    }
  }
}

.tran-duc-in-place-editor.tran-duc-required {
  .tran-duc-in-place-labor {
    label::after {
      content: "(*)";
      padding-left: 0.25rem;
      color: red;
    }
  }
}
#detail-carrer ol {
  padding-inline-start: 20px !important;
  /* Đặt khoảng cách thụt vào đầu dòng cho danh sách có thứ tự */
  list-style: auto !important;
  /* Đặt kiểu danh sách tự động */
  font-weight: 500;
  /* Thêm dòng này để làm đậm các con số */
  ;
}

//#endregion

//#region Unordered List Styles
#detail-carrer  ul {
  list-style-type: disc !important;
  /* Đặt kiểu danh sách không thứ tự là đĩa tròn */
  ;
  padding-inline-start: 20px !important;
  /* Đặt khoảng cách thụt vào đầu dòng cho danh sách không thứ tự */
  ;
}
#__nuxt {
  

  .custom-file-input {
    position: relative;
    display: inline-block;
    width: 100%;
    cursor: pointer;

    input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      i {
        margin-right: 8px;
      }
    }
  }

  input,
  textarea,
  select {
    font-size: 16px;
  }
}